.toggle-container {
    width: 400px;
    text-align: left;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  
    .toggle-filled {
      background-color: #663399;
    }
  
    .toggle-empty {
      background-color: lightgray;
    }
  
    .toggle {
      border-radius: 24px;
      width: 60px;
      height: 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .slide-left {
        border-radius: 50%;
        background-color: white;
        width: 30px;
        height: 30px;
        margin-right: 1%;
        border: 1px solid black;
      }
      .slide-right {
        border: 1px solid black;
        border-radius: 50%;
        background-color: white;
        width: 30px;
        height: 30px;
        margin-left: 53%;
      }}
    }
