.main-container {
    display:flex;
    flex-direction: column;
    background-color: #fcfcff;
    background-position: -179px 213px, 852px -227.9068603515625px, 0.0001220703125px 1209px;
    background-size: 571px 572px, 1183px 1192px, 1920px 936px;
    background-image: url("/../assets/blob-small.svg"),url("/../assets/circle.svg"), url('/../assets/sol_wave_bg.svg');
    background-repeat: no-repeat;
  }